{% extends "base.html" %}
{% block body %}
<div class="container">
    <h1 class="text-center">Latest 3 parts added to the site!</h1>
    <div class="row">
        {% for part in latest_parts %}
            <div class="col-sm-6 col-lg-4 my-2">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ part.name }}</h5>
                        <p class="card-text">{{ part.weight }}</p>
                        <a href="#" class="btn btn-primary">See more</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <h1 class="text-center">Check out the latest combo created!</h1>
    <div class="row">
        <div class="col-sm-6 col-lg-4 my-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ last_combo.layer.name }}</h5>
                    <p class="card-text">{{ last_combo.layer.weight }}</p>
                    <a href="#" class="btn btn-primary">See more</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-4 my-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ last_combo.disk.name }}</h5>
                    <p class="card-text">{{ last_combo.disk.weight }}</p>
                    <a href="#" class="btn btn-primary">See more</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-4 my-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ last_combo.tip.name }}</h5>
                    <p class="card-text">{{ last_combo.tip.weight }}</p>
                    <a href="#" class="btn btn-primary">See more</a>
                </div>
            </div>
        </div>
    </div>    
</div>
{% endblock body %} 